@model TemplateViewModel<string>
@{
}

<p>Bonjour,</p>
<p>
    Suite a votre de demande de changement d'adresse email, veuillez suivre le lien suivant : <a href="@Model.Data">Changer mon adresse mail</a>
    <br/>
    Salutations,<br/>
</p>