@model TemplateViewModel<string>
@{
}

<p>Bonjour,</p>
<p>
    Veuillez confirmer votre compte en cliquant sur le lien : <a href="@Model.Data">Confirmer mon adresse mail</a>
    <br/>
    Salutations,<br/>
</p>