@model TemplateViewModel<string>
@{
}

<p>Bonjour,</p>
<p>
    Suite a votre de demande de réintialisation de mot de passe, veuillez suivre le lien suivant : <a href="@Html.Encode(Model.Data)">Réintialiser mon mot de passe</a>
    <br/>
    Salutations,<br/>
</p>