.login-container {
  margin-top: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 27px 10px rgba(135, 135, 135, 0.69);
  box-shadow: 0px 0px 27px 10px rgba(135, 135, 135, 0.69);
}

.rg-color {
  background-color: #006D31;
  padding: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color : white;
}
.form-control,
.btn {
  border-radius: 30px;
}
.text-d {
  overflow: hidden;
  text-align: center;
}

.text-d:before,
.text-d:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.text-d:before {
  right: 0.5em;
  margin-left: -50%;
}

.text-d:after {
  left: 0.5em;
  margin-right: -50%;
}

.icon-btn > i {
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    color: #fff;
    background: rgba(255, 255, 255, 0.185);
}

.img-size {
    height : -webkit-fill-available;
}

.icon-btn{
    border:0;
    background:transparent;   
}

.icon-btn:focus {
    border: 0;
    background: transparent;
    outline:unset;
}

.label-text{
    font-size: 18px;
}
.forgot-pass {
    color: lightgrey !important; 
    float: right;
}

.btn-brown {
    background-color: #ce7d00 !important;
    color : white !important;
    font-weight : bold;
}
.btn-brown:hover {
    background-color: #ce8518 !important;
}

@media (max-width: 767px) {
    .login-container {
        margin-top: 0;
      }
  .rg-color {
    border-top-right-radius:0px!important;
    border-bottom-right-radius:0px!important;
  }
  .mobile-login{
    flex-direction: column-reverse;
  }
  .forgot-pass{
    float: none;
    display: inline-block;
}
}
